.DS_Store
.vscode
UIC4801/*
!UIC4801/
!UIC4801/der_agg_clean copy.ipynb
!UIC4801/der_only_clean copy.ipynb
!UIC4801/DATA_demand.csv
!UIC4801/DATA_generation.csv
!UIC4801/DATA_price.csv
!UIC4801/서현_Evaluation_of_Economic_Values_of_DER_Aggregation__Stochastic_Programming_Approach.pdf